<div id="modal" class="hide">
    <div class="content">
        <h1>Nova Ideia</h1>
        <form action="">
            <div class="input-wraper">
                <label for="title">Título da Ideia</label>
                <input type="text" name="title">
            </div>

            <div class="input-wraper">
                <label for="category">Categorias</label>
                <input type="text" name="category">
            </div>

            <div class="input-wraper">
                <label for="image">Link da imagem</label>
                <input type="text" name="image">
            </div>

            <div class="input-wraper">
                <label for="description">Descrição</label>
                <textarea name="description"cols="30" rows="10"></textarea>
            </div>

            <div class="input-wraper">
                <label for="link">Link da Ideia</label>
                <input type="text" name="link">
            </div>

            <a href="#" onclick="onOff()">Voltar</a>
            <button>Salvar</button>

        </form>
    </div>
</div>